<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome! You are logged in as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>

        <button ng-click="getAll()">Click for Questions!</button>
        <div ng-repeat="quote in quotes">
            
            Question: {{quote.quotation}}
            
            <a href="" ng-click="showme=true">Show Answer</a>
            <button ng-click="showme=false">Hide Answer</button>
            <div class="wrapper">
                <p ng-hide="showme">Answer will appear here!</p>
                <h2 ng-show="showme">Answer: {{quote.source}}</h2>
            </div>

        </div>

    </div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
   
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>

</html>
